* { 
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 1vmin;
    column-gap: 1vmin;
    height: 100vh;
    font-size: 20vmin;
    background: white;
}

.celda {
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
}

.celda:hover {
    background-color: gray;
}